<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.AdmLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.AdmLog">
        <id column="id" property="id" />
        <result column="adm_name" property="admName" />
        <result column="opration" property="opration" />
        <result column="opration_content" property="oprationContent" />
        <result column="oprate_time" property="oprateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        adm_name, opration, opration_content, oprate_time, id
    </sql>

</mapper>
