<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.CfgActMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.CfgAct">
        <id column="actid" property="actid" />
        <result column="starttime" property="starttime" />
        <result column="endtime" property="endtime" />
        <result column="rate" property="rate" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="totalcount" property="totalcount" />
        <result column="daycount" property="daycount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        actid, starttime, endtime, rate, name, type, totalcount, daycount
    </sql>

</mapper>
