<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.CfgBattleTroopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.CfgBattleTroop">
        <id column="id" property="id" />
        <result column="bid" property="bid" />
        <result column="xy" property="xy" />
        <result column="drop" property="drop" />
        <result column="rate" property="rate" />
        <result column="hid" property="hid" />
        <result column="npcvalue" property="npcvalue" />
        <result column="soldiers" property="soldiers" />
        <result column="type" property="type" />
        <result column="unionid" property="unionid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        bid, xy, drop, rate, hid, npcvalue, soldiers, type, id, unionid
    </sql>

</mapper>
