<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.CfgDefenceConditionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.CfgDefenceCondition">
        <result column="did" property="did" />
        <result column="pre_type" property="preType" />
        <result column="pre_id" property="preId" />
        <result column="pre_level" property="preLevel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        did, pre_type, pre_id, pre_level
    </sql>

</mapper>
