<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.CfgMarryMotherHeroMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.CfgMarryMotherHero">
        <id column="hid" property="hid" />
        <result column="name" property="name" />
        <result column="npcid" property="npcid" />
        <result column="face" property="face" />
        <result column="command" property="command" />
        <result column="affairs" property="affairs" />
        <result column="bravery" property="bravery" />
        <result column="wisdom" property="wisdom" />
        <result column="rate" property="rate" />
        <result column="introduce" property="introduce" />
        <result column="sex" property="sex" />
        <result column="count" property="count" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        hid, name, npcid, face, command, affairs, bravery, wisdom, rate, introduce, sex, count
    </sql>

</mapper>
