<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.CfgShopArmMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.CfgShopArm">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="aid" property="aid" />
        <result column="pack" property="pack" />
        <result column="price" property="price" />
        <result column="oriprice" property="oriprice" />
        <result column="onsale" property="onsale" />
        <result column="totalCount" property="totalCount" />
        <result column="userbuycnt" property="userbuycnt" />
        <result column="daybuycnt" property="daybuycnt" />
        <result column="position" property="position" />
        <result column="group" property="group" />
        <result column="rebate" property="rebate" />
        <result column="commend" property="commend" />
        <result column="hot" property="hot" />
        <result column="starttime" property="starttime" />
        <result column="endtime" property="endtime" />
        <result column="image" property="image" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, aid, pack, price, oriprice, onsale, totalCount, userbuycnt, daybuycnt, position, group, rebate, commend, hot, starttime, endtime, image, description
    </sql>

</mapper>
