<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.CfgTaskScheduleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.CfgTaskSchedule">
        <id column="taskid" property="taskid" />
        <result column="next_reset" property="nextReset" />
        <result column="interval" property="interval" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        taskid, next_reset, interval
    </sql>

</mapper>
