<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.CfgTechnicConditionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.CfgTechnicCondition">
        <result column="tid" property="tid" />
        <result column="level" property="level" />
        <result column="pre_type" property="preType" />
        <result column="pre_id" property="preId" />
        <result column="pre_level" property="preLevel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tid, level, pre_type, pre_id, pre_level
    </sql>

</mapper>
