<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.LogArmorStrongMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.LogArmorStrong">
        <result column="uid" property="uid" />
        <result column="sid" property="sid" />
        <result column="armorid" property="armorid" />
        <result column="type" property="type" />
        <result column="startlevel" property="startlevel" />
        <result column="endlevel" property="endlevel" />
        <result column="usegoods" property="usegoods" />
        <result column="success" property="success" />
        <result column="time" property="time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, sid, armorid, type, startlevel, endlevel, usegoods, success, time
    </sql>

</mapper>
