<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.LogSoldierConvertMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.LogSoldierConvert">
        <result column="uid" property="uid" />
        <result column="cid" property="cid" />
        <result column="fromSid" property="fromSid" />
        <result column="fromCount" property="fromCount" />
        <result column="toSid" property="toSid" />
        <result column="toCount" property="toCount" />
        <result column="time" property="time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, cid, fromSid, fromCount, toSid, toCount, time
    </sql>

</mapper>
