<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.MemAssembleWinRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.MemAssembleWinRecord">
        <id column="id" property="id" />
        <result column="fromuid" property="fromuid" />
        <result column="touid" property="touid" />
        <result column="times" property="times" />
        <result column="rKingLevel" property="rKingLevel" />
        <result column="last_challenge_time" property="lastChallengeTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fromuid, touid, times, rKingLevel, last_challenge_time
    </sql>

</mapper>
