<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.MemBattleTacticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.MemBattleTactics">
        <id column="battleid" property="battleid" />
        <result column="attack" property="attack" />
        <result column="stype" property="stype" />
        <result column="action" property="action" />
        <result column="target" property="target" />
        <result column="action2" property="action2" />
        <result column="target2" property="target2" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        battleid, attack, stype, action, target, action2, target2
    </sql>

</mapper>
