<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.MemHeroBufferMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.MemHeroBuffer">
        <id column="hid" property="hid" />
        <result column="buftype" property="buftype" />
        <result column="endtime" property="endtime" />
        <result column="bufparam" property="bufparam" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        hid, buftype, endtime, bufparam
    </sql>

</mapper>
