<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.MemLuoyangEventMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.MemLuoyangEvent">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="name" property="name" />
        <result column="unionname" property="unionname" />
        <result column="cityname" property="cityname" />
        <result column="touid" property="touid" />
        <result column="toname" property="toname" />
        <result column="tounionname" property="tounionname" />
        <result column="score" property="score" />
        <result column="flag" property="flag" />
        <result column="time" property="time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, name, unionname, cityname, touid, toname, tounionname, score, flag, time
    </sql>

</mapper>
