<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.MemWorldScheduleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.MemWorldSchedule">
        <id column="wid" property="wid" />
        <result column="last_create_npc" property="lastCreateNpc" />
        <result column="last_create_defence" property="lastCreateDefence" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        wid, last_create_npc, last_create_defence
    </sql>

</mapper>
