<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.PayKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.PayKey">
        <id column="ip" property="ip" />
        <result column="name" property="name" />
        <result column="key" property="key" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        name, key, ip
    </sql>

</mapper>
