<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.RankHeroWisdomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.RankHeroWisdom">
        <id column="rank" property="rank" />
        <result column="hid" property="hid" />
        <result column="name" property="name" />
        <result column="user" property="user" />
        <result column="level" property="level" />
        <result column="affairs" property="affairs" />
        <result column="bravery" property="bravery" />
        <result column="wisdom" property="wisdom" />
        <result column="uid" property="uid" />
        <result column="command" property="command" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rank, hid, name, user, level, affairs, bravery, wisdom, uid, command
    </sql>

</mapper>
