<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.SysAlarmMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.SysAlarm">
        <id column="uid" property="uid" />
        <result column="troops" property="troops" />
        <result column="enemy" property="enemy" />
        <result column="report" property="report" />
        <result column="mail" property="mail" />
        <result column="friend" property="friend" />
        <result column="task" property="task" />
        <result column="union" property="union" />
        <result column="battle" property="battle" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, troops, enemy, report, mail, friend, task, union, battle
    </sql>

</mapper>
