<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.SysChatApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.SysChatApply">
        <id column="uid" property="uid" />
        <result column="name" property="name" />
        <result column="time" property="time" />
        <result column="status" property="status" />
        <result column="content" property="content" />
        <result column="admid" property="admid" />
        <result column="admname" property="admname" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, name, time, status, content, admid, admname
    </sql>

</mapper>
