<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.SysGatherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.SysGather">
        <id column="wid" property="wid" />
        <result column="troopid" property="troopid" />
        <result column="fooduse" property="fooduse" />
        <result column="level" property="level" />
        <result column="starttime" property="starttime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        wid, troopid, fooduse, level, starttime
    </sql>

</mapper>
