<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.SysShopCronMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.SysShopCron">
        <id column="id" property="id" />
        <result column="enable" property="enable" />
        <result column="time" property="time" />
        <result column="shopid" property="shopid" />
        <result column="price" property="price" />
        <result column="onsale" property="onsale" />
        <result column="buycnt" property="buycnt" />
        <result column="position" property="position" />
        <result column="saledesc" property="saledesc" />
        <result column="namepre" property="namepre" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, enable, time, shopid, price, onsale, buycnt, position, saledesc, namepre
    </sql>

</mapper>
