<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.SysUnionReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.SysUnionReport">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="unionid" property="unionid" />
        <result column="enemy" property="enemy" />
        <result column="origincid" property="origincid" />
        <result column="origincity" property="origincity" />
        <result column="happencid" property="happencid" />
        <result column="happencity" property="happencity" />
        <result column="time" property="time" />
        <result column="description" property="description" />
        <result column="content" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, unionid, enemy, origincid, origincity, happencid, happencity, time, description, content
    </sql>

</mapper>
