<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.SysUnionMarkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.SysUnionMark">
        <id column="id" property="id" />
        <result column="unionid" property="unionid" />
        <result column="cid" property="cid" />
        <result column="wid" property="wid" />
        <result column="endtime" property="endtime" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, unionid, cid, wid, endtime, type
    </sql>

</mapper>
