<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.SysUserFcmMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.SysUserFcm">
        <id column="uid" property="uid" />
        <result column="cardid" property="cardid" />
        <result column="onlinetime" property="onlinetime" />
        <result column="lastupdate" property="lastupdate" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, cardid, onlinetime, lastupdate, state
    </sql>

</mapper>
