<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgren.rxsg.mapper.SysUserBattleStateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgren.rxsg.entity.SysUserBattleState">
        <id column="uid" property="uid" />
        <result column="battlefieldid" property="battlefieldid" />
        <result column="honour" property="honour" />
        <result column="bid" property="bid" />
        <result column="unionid" property="unionid" />
        <result column="startcid" property="startcid" />
        <result column="level" property="level" />
        <result column="jointime" property="jointime" />
        <result column="sent_troop_count" property="sentTroopCount" />
        <result column="state" property="state" />
        <result column="in_cross_battle" property="inCrossBattle" />
        <result column="in_battle_hids" property="inBattleHids" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, battlefieldid, honour, bid, unionid, startcid, level, jointime, sent_troop_count, state, in_cross_battle, in_battle_hids
    </sql>

</mapper>
